@import '../../../../static/styles/colors.scss';

.form-container {
  margin-top: 50px;
  width: 100%;

  &-wrapper{ 
    display: flex;
    align-items: center; 

    .form-game {
      width: 300px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 260px;

      .input-container {
        width: 100%;
      }

      .game-button {
        width: 80px;
      }

      .game-detail-actions {
        display: flex;
        justify-content: space-between;

        .delete-game-button {
          width: 120px;
          
          span {
            display: flex;
          }     
        }
    }
  }

    .card-container {
      margin-left: 80px;
    }
  }
}