
.card-container {
    height : 220px;
    width: 160px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 
                0 0 40px rgba(0, 0, 0, 0.1) inset;
    transition-duration: .2s;
  }
  
  .card-container:hover {
    box-shadow: 0 1px 4px #007acc4d, 
                0 0 40px #007acc4d inset;
    transform: scale(1.1);
  }