$card-radius: 10px;

.card-container {
  height : 250px;
  width: 200px;
  background-color: white;
  border-radius: $card-radius;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 100%; 
  margin: 10px; 
  padding: 0;
  text-transform: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  -webkit-appearance: none;

  img {
    height: 200px;
    width: 100%;
    border-top-left-radius: $card-radius;  
    border-top-right-radius: $card-radius;  
  }

  .name-container {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  &:hover {
    transform: scale(1.1)
  }
}
