@import '../../../static/styles/colors.scss';

.button {
  cursor: pointer;
  border: 0;
  outline: 0;
  height: 25px;
  width: 70px;
  border-radius: 5px;

 

  &:disabled {
    background: grey;
    color: white;
  }
}
  
.primary {
  background: $primary;
  color: $secondary;
}

.secondary {
  background-color: $secondary;
  color: $primary;
}
  