@import '../../../static/styles/colors.scss';

.add-game-button {
    width: 160px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    text-align: center;

    svg {
        fill: $secondary;
    }
}