@import '../../../static/styles/colors.scss';

.base-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  .form-game {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
    align-items: center;

    .input-container {
      width: 100%;
    }
  }

  .add-game-button {
		width: 160px;
		height: 40px;
		font-style: normal;
		font-weight: bold;
		line-height: normal;
		font-size: 14px;
		text-align: center;
	}

  
}